<div class="wrapper">
  <header class="header">
    <div class="header__inner">
      <div class="header__top">
        <div class="header__top_inner">
          <object data="../../../assets/img/logo.svg" width="40" height="40" class="logo"></object>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item"><a href="#" class="menu__link">Главная</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Курсы</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Расписание</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Преподаватели</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Рассылка</a></li>
              <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
            </ul>
          </nav>
          <button class="login">Зайти в кабинет</button>
        </div>
      </div>
      <div class="container header__content">
        <h1 class="header__title">Первый курс <br> по компьютерной сборке</h1>
        <ul class="time_left">
          <li class="time_left__block">
            <span class="time_left__count">18</span>
            <span class="time_left__word">Дней</span>
          </li>
          <li class="time_left__block">
            <span class="time_left__count">18</span>
            <span class="time_left__word">Часов</span>
          </li>
          <li class="time_left__block">
            <span class="time_left__count">18</span>
            <span class="time_left__word">Минут</span>
          </li>
          <li class="time_left__block">
            <span class="time_left__count">18</span>
            <span class="time_left__word">Секунд</span>
          </li>
        </ul>
      </div>
      <div class="header__bottom">
        <div class="header__bottom_inner">
          <button class="order">Заказать курс</button>
          <div class="students">
            <p class="students__amount students__all">Учеников всего:</p>
            <span class="students__all_num">
              <strong>200</strong>
              </span>
            <p class="students__amount students__done">Успешно закончили курс:</p>
            <span class="students__done_num">
              <strong>190</strong>
              </span>
          </div>
          <div class="salary">
             <div class="salary__inner">
              <p class="students__amount">Заработано учениками</p>
              <span class="students__amount_num" ><strong class="salary__num">400 000₽</strong></span>
             </div>
             <div class="salary__decor">
               <div class="salary__decor_inner">
                 <span class="salary__decor_current"></span>
                 <span class="salary__decor_max"></span>
               </div>
               <div class="salary__amount">
                 <span class="salary__amount_start">0</span>
                 <span class="salary__amount_end">1 000 000₽</span>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>