.wrapper {
  color: var(--color-white);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  background-image: url('../../../assets/img/main-screen__bgc.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header__top_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 80px 0;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 56px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  transition: .3s;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;

  &:hover {
    color: var(--color-gray);
    border-bottom: 2px solid var(--color-gray);
  }
}

.login {
  border-radius: 50px;
  background: linear-gradient(270deg, var(--color-lazure-1), var(--color-lazure-2));
  padding: 10px 30px;
}

.header__content {
  font-family: 'Roboto-Bold';
}

.header__title {
  font-size: 64px;
  line-height: 90px;
}

.time_left {
  display: flex;
}

.time_left__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-cod-gray);
  margin-right: 30px;
  padding: 20px 34px;
  font-family: 'Roboto-Bold';
  font-size: 36px;
  line-height: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.time_left__word {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  line-height: 23px;
  opacity: .4;
}

.header__bottom {
  background-color: var(--color-cod-gray);
}

.header__bottom_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

.order,
.students {
  margin-right: 81px;
}

.order {
  font-family: 'Roboto-Bold';
  font-size: 16px;
  line-height: 24px;
  padding: 10px 30px;
  background: linear-gradient(270deg, var(--color-soft-orange-1), var(--color-soft-orange-2));
  border-radius: 50px;
}

.students {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template: 
  "all all_num"
  "done done_num";

  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
  }

  p:last-child {
    padding-bottom: 0;
  }
}

.students__amount {
  padding-right: 30px;
  opacity: .4;
}

.students__amount_all {
  grid-area: all;
}

.students__amount_done {
  grid-area: done;
}

.students__all_num,
.students__done_num,
.students__amount_num {
  margin: auto 0;
}

.students__all_num {
  grid-area: all_num;
}

.students__done_num {
  grid-area: done_num;
}

.salary {
  width: 714px;
}

.salary__inner {
  display: flex;
}

.salary__num {
  opacity: 1;
}

.salary__decor_inner {
  display: flex;
  width: 100%;
  height: 6px;
  padding-bottom: 5px;
}

.salary__decor_current,
.salary__decor_max {
  height: 100%;
}

.salary__decor_current {
  width: 62%;
  background: linear-gradient(270deg, var(--color-soft-orange-1), var(--color-soft-orange-2));
}

.salary__decor_max {
  width: 38%;
  background: var(--color-white);
}

.salary__amount {
  display: flex;
  justify-content: space-between;
}

.salary__amount_start,
.salary__amount_end {
  opacity: .4;
}